# Backend Server
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-dotenv==1.0.0
python-multipart==0.0.6

# AI & LLM - OpenAI
langchain-core==0.3.28
langchain==0.3.12
langchain-community==0.3.12
langchain-openai==0.2.14
langchain-huggingface==0.1.2
openai==1.58.1

# Document Processing
PyMuPDF==1.23.26
tabula-py==2.9.0
pandas==2.1.4
JPype1

# Vector Store & Embeddings
faiss-cpu==1.8.0
sentence-transformers==2.7.0

# Authentication
passlib
bcrypt==3.2.0
python-jose[cryptography]==3.3.0

# Database
sqlalchemy==2.0.29